.hidden {display: none;}

body, html {height: 100%; position: relative;}

.wrapper {
	text-align: center;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

img.headshot {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: inline-block;
	background-color: #ccc;
	margin: 1em;
    border: 3px white solid;
    box-shadow: 0px 0px 7px 0 #ccc, 0px 1px 1px 0 #999;
    transition: 0.2s ease;
    cursor: pointer;
}

img.headshot.zoomed {
    transform: scale(4,4);
    border: 1px white solid;
}


body {
	font-size: 18px;
	font-family: 'metaPro', sans-serif;
	line-height: 1.6em;
	letter-spacing: 0.01em;
	color: #333;
}

h1 {
	font-size: 1.2em;
	margin: 0;
}

p{
	margin: 0;
}

sup {
    font-size: 0.6em;
    line-height: 0;
    margin-left: 0.3em;
}
a sup {
    border-bottom: none;
}

.fa {
    opacity: 0.8;
}

a {
	text-decoration: none;
	color: #666;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 0.9em;
	transition: 0.1s ease;
}

a:hover {
	opacity: 1;
	color: black;
}

a.button {
	display: inline-block;
	margin: 1.5em 0 0.2em;
	padding: 1em 1.2em;
	border: 1px #ccc solid;
	border-radius: 30px;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height:0;
    background: none;
}

a.button:hover {
	color: #000;
    border-color: black;
    transform: translateY(-2px);
}
a.button:active {
    transform: translateY(0px);

}

.dimmed {
	opacity: 0.6;
}

.featherlight .featherlight-content {
	width: 80%;
	padding: 0;
}

.backgroundBlur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.6;
    z-index: 100;
}