<article class="about page">

  <div class="col">
    <img src="/images/sam4.jpg" alt="Sam Stephenson" class="imgSmall"/>
  </div>

  <p><strong>I’m Sam Stephenson</strong>, San Francisco based product designer. Previously an Experience Design intern at <a href="http://newdealdesign.com">NewDealDesign</a>.</p>

  <p>I'm currently accepting freelance projects – working with startups on products for mobile and web. If you're working on something exciting and would like to see what I do, get in touch!</p> 

  <p><a class="button"href="mailto:sam@stephenson.net">Send me an email</a></p>

</article>