<article class="about page">

  <div class="col">
    <img src="/images/sam4.jpg" alt="Sam Stephenson" class="imgSmall"/>
  </div>

  <p><strong>Hello! I’m Sam Stephenson</strong>, a San Francisco based product designer hailing from the UK. Previously an Experience Design intern at <a href="http://newdealdesign.com">NewDealDesign</a>.</p>

  <p>I'm currently looking for a home in a design team in SF. I have a work visa valid until August 2017 and I'd love to come make stuff with you! Get in touch and I'll gladly meet for a chat.</p> 

  <p><a class="button"href="mailto:sam@stephenson.net">Send me an email</a></p>

  <br><br><p>The following projects are strictly confidential and should not be shared publicly.</p>

</article>