// Body resets
//
// Update the foundational and global aspects of the page.

$accentColor: #292D78;
$grey: #ccc;
$colWidth: 32rem;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  border-top: 0.2em solid $accentColor;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Alegreya sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;

  @media (min-width: 30em) {
    font-size: 18px;
    line-height: 1.6;
  }
}

body {
  color: #111;
  background-color: #fcfcfc;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: black;
  text-decoration: none;
  background-image: linear-gradient(to top,
    rgba(0,0,0,0) 18%,
    rgba(0,0,0,.3) 18%,
    rgba(0,0,0,.3) 22%,
    rgba(0,0,0,0) 22%
    );  
  text-shadow: 
    -2px 1px 0 #fcfcfc, 
    -1px 0 0 #fcfcfc, 
    0 0 0 #fcfcfc, 
    1px 0 0 #fcfcfc, 
    2px 1px 0 #fcfcfc, 
    -1px 1px 0 #fcfcfc, 
    0 1px 0 #fcfcfc, 
    1px 1px 0 #fcfcfc;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: $accentColor;
    text-decoration: none;
    background-image: none;
    /*linear-gradient(to top,
    rgba(0,0,0,0) 18%,
    rgba(0,0,0,.4) 18%,
    rgba(0,0,0,.4) 22%,
    rgba(0,0,0,0) 22%
    );*/
  }

  strong {
    color: inherit;
  }
}


a.homeButton {
  font-size: 0.8em;
  color: $grey;
  position: absolute;
  display: inline-block;
  padding: .45rem .65rem .325rem;
  border: 1px solid $grey;
  border-radius: .65em;
  top: 1rem;
  left: .65rem;
  background: rgba(255,255,255,0.2);
  text-align: center;
  text-shadow: none;

  &:hover,
  &:focus {
    color: white;
    border: $accentColor;
    background: $accentColor;
  }

  &.end {
    position: static;
    margin: 6em auto 0;
    top: auto;
    left: auto;
  }

}


img {
  display: block;
  max-width: 100%;
  padding: 0 .65rem .65rem;
}

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}

td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}

th {
  text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
