// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

section {
	margin: 4rem 0;
}

.homepage section {
	margin: 6rem 0;

	@media (min-width: 38rem) {
		margin: 10rem 0;
	}

}

footer {
 	padding: $basePadding $basePadding 2.4rem;
 	vertical-align: middle;

 	@media (max-width: 30em) {
    
		small .left, small .right {
			float: none;
			width: 100%;
			text-align: center;
			padding: .325rem;
		}

  	}


}

.page {

	padding: 4rem 0;

	p, h1, h2, h3, h4, ul, img, iframe {
		width: 100%;
		max-width: $colWidth;
		margin-left: auto;
		margin-right: auto;
		padding-left:  1rem;
  		padding-right: 1rem;
	}

	img {
		margin: 2.7rem auto .9rem;
		width: auto;
		padding: 0;
		max-width: $colWidth - 4rem;
		max-height: $colWidth;
	}

	h1 {
		max-width: $wideWidth;
	}

	ul, ol, dl {
		padding-left: 2.7rem;
	}

	@media (min-width: 30em) {
    
		.wide {
			margin: 3.6rem auto;
			max-width: $wideWidth;
		}
		.full {
			max-width: 100%;
			max-height: 100%;
			margin: 0.9rem auto;
			padding-left: 0;
			padding-right: 0;
		}

  	}

}

.projectData {
	margin: -4rem auto 3rem;
	padding: 1rem;
	text-align: center;
	display: block;
}

ul.homepageProjects  {

	padding: 0;
	margin: 3rem 0;

	li {
		width: 100%;
		vertical-align: top;	
		max-width: ($colWidth - 4) / 2 ;
		display: inline-block;
		font: $typeUI $fontUI;
		margin-bottom: 4rem;
		line-height: 1.4;

		&:nth-child(2n) {
				margin-right: 0;
		}

		img {
			margin: 0;
			width: 100%;
			position: absolute;
 			-webkit-transition: 0.1s ease;
			transition: 0.1s ease;
			top: 0;
			left: 0;
		}

		a {
			color: black;
		}

		a:hover {
			/*color: $linkColor;*/

			img {
				-webkit-transform: scale(1.02);
  				transform: scale(1.02);
			}
		}

	}

	@media (min-width: 30em) {
		li {
			margin-right: 1.2rem;
		}
	}

}

.zoomContainer {
	position: relative;
	overflow: hidden;
	margin: 0 0 .8rem 0;
	width: inherit;
	height: 9.5rem;
}