// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

section {
	margin: 4rem 0;
}

.homepage section {
	margin: 6rem 0;

	@media (min-width: 38rem) {
		margin: 10rem 0;
	}

}

footer {
 	padding: $basePadding*4 0;
 	text-align: center;
 	background: #f9f9f9
}

.page {

	padding-bottom: $basePadding*4;

	p, h1, h2, h3, h4, ul, img, iframe {
		width: 100%;
		max-width: $colWidth;
		margin-left: auto;
		margin-right: auto;
		padding-left:  1rem;
  		padding-right: 1rem;
	}

	img {
		margin: 2.7rem auto .9rem;
		width: auto;
		padding: 0;
		max-width: $colWidth - 4rem;
		max-height: $colWidth;
	}

	h1 {
		max-width: $wideWidth;
	}

	ul, ol, dl {
		padding-left: 2.7rem;
	}

	@media (min-width: 30em) {
    
		.wide {
			margin: 3.6rem auto;
			max-width: $wideWidth;
		}
		.full {
			max-width: 100%;
			max-height: 100%;
			margin: 0.9rem auto;
			padding-left: 0;
			padding-right: 0;
		}

  	}

}

.projectData {
	margin: -4rem auto 3rem;
	padding: 1rem;
	text-align: center;
	display: block;
}

ul.homepageProjects  {

	padding: 0;
	margin: 0;

		li {
			display: flex;
			flex-direction: row;
			width: 100%;
			margin: 0;

			div {
				flex-grow: 1;
				width: 50%;
				line-height: 1.4;
				height: 100%;
			}

			div .projectDetail {
				max-width: $colWidth/2;
				margin: auto;
			}

			div.projectImage {
				background: #f6f6f6;
			}


			img {
				margin: 0;
				width: 100%;
				-webkit-transition: 0.1s ease;
				transition: 0.1s ease;
			}

			a {
				color: black;
				font-family: $fontUI;
				font-size: $typeUI;
				font-weight: 600;
			}

		}

		li:nth-child(even) {
			flex-direction: row-reverse;
		}

}