// Layout
//
// Styles for managing the structural hierarchy of the site.

$colWidth: 32rem;

.container {
  max-width: $colWidth;
  padding-left:  .75rem;
  padding-right: .75rem;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media (min-width: 22em) {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
  }

  @media (min-width: 42em) {
    margin-top: 5rem;
  	margin-bottom: 5rem;
  }

}

.portfolio {

  margin-top: 2rem;
  margin-bottom: 2rem;

  @media (min-width: 42em) {
      margin-top: 5rem;
      margin-bottom: 5rem;
   }

  h1, h2, h3, p, a, ul, ol, dl {

    max-width: $colWidth;
    margin-left:  auto;
    margin-right: auto;
    

    @media (min-width: 22em) {
    }

  }
}


footer {
  margin-bottom: 2rem;
  text-align: center;
}

section {
  margin: 4.5rem 0;

  @media (min-width: 30em) {
    margin: 3.9rem 0;
  }
}

#vertical-grid-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../public/vertical-grid.png) repeat;
  background-size: 10px 27px;
  background-position-y: -25px
}

#homeButton {
  position: absolute;
  display: block;
  padding: .65rem 0 .325rem;
  border: 1px solid $grey;
  border-radius: 4px;
}