// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  margin-bottom: 0;
  padding: 1.2rem 1.2rem 0;
  
  .topNav {
  }

}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  font-family: $fontUI;
  font-weight: 600;
  font-size: 1rem;

  @media (min-width: 38rem) {
    font-size: 1.2rem;
  }

  a {
    color: black;
  }

  a:hover {
    text-decoration: none;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }
}

.homepage .masthead-title {
  display: none;
}

.masthead nav {
  font-size: $typeUI;
  float: right;
  margin-top: -$basePadding + .2rem;

  a {
    list-style-type: none;
    display: inline-block;
    color: $darkGrey;
    padding: $basePadding 0.8rem;
  }
  a.active {
    color: $lightGrey;
  }

  a:last-child {
    padding-right: .4rem;
  }

}

.projectWrapper {
  font-size: $typeUI;
  position: relative;

  button {
    position: absolute;
    z-index: 10;
    top: 2.4rem;
    vertical-align: middle;
    width: 2.4rem;
    height: 3.6rem;
    background: 
      url("/images/svg/arrow.svg") no-repeat 0.9rem,
      rgba(255,255,255,0.95);
    border: none;
    border-left: 1px solid black;
    cursor: pointer;

    &.scrollRight {
      right: 0;
    }

    &.scrollLeft {
      left: 0;
      transform: rotate(180deg);
    }
  }

}

.projectHeader {
    padding: $basePadding $basePadding 0;
    display: block;
    letter-spacing: .06rem;
    text-rendering: Optimizelegibility;
}

.projectNav {
  font-family: $fontUI;
  font-size: 0;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background: rgba(0,0,0,0);
  margin:0;
  padding:0 0 1rem;

  li {
    font-size: 0.8rem;
    display: inline-block;
    white-space: initial;
    width: 10rem;
    height: 4rem;
    padding: .6rem $basePadding;
    vertical-align: middle;
    line-height: 1.25;

    &:last-child {
      border-right: 0;
    }

    &.active a {
      color: $lightGrey;
    }

    a {
      color: black;
    }

  }

}